<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>All Recipes</title>
 </head>
 <body>
   <h2>All Recipes</h2>
   <% @recipes.each do |recipe| %>
   <p>Name:<%= recipe.name %></p>
   <p>Ingredients:<%= recipe.ingredients %></p>
   <p>Cooktime:<%= recipe.cook_time %></p>
   <a href="/recipes/<%=recipe.id%>"><%= recipe.name %></a>
   <br>
   <% end %>
 </body>
</html>
